.DerivedData/
DerivedData/
build/
xcuserdata/
*.xcuserdata/
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
timeline.xctimeline
playground.xcworkspace
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.DS_Store
.tools/
BalanceSweepReports/
