--swiftversion 6.2
--indent 4
--trimwhitespace always
--trailing-commas always
--decimalgrouping none
--ifdef no-indent
--self remove
--importgrouping testable-bottom
--wraparguments before-first
--wrapparameters before-first
--maxwidth 140
--disable wrapMultilineStatementBraces
--enable isEmpty,preferContains,preferFirstWhere,preferCountWhere,preferMinOverSorted,preferFlatMap,preferSwiftTesting,privateStateVariables,noGuardInTests
--exclude Packages/TrinketContent/Sources/TrinketContent/Generated,.DerivedData,.build
