--swiftversion 5.0
--indent 4
--trimwhitespace always
--commas inline
--decimalgrouping none
--ifdef no-indent
--self remove
--importgrouping testable-bottom
--disable wrapMultilineStatementBraces
--exclude Packages/TrinketContent/Sources/TrinketContent/Generated,.DerivedData,.build
